<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../css/showResult.css"/>
    <script src="/javascript/jquery-2.1.1.js"></script>
    <script src="/javascript/showOption.js"></script>
</head>
<body>
<div>
    <div>
    <label for="show-news">显示消息</label>
    <input type="checkbox" id="show-news"/>
    </div>
    价格列表
    <div>
        <table id="show-prices" class="fxbody">

        </table>
    </div>
</div>
</body>
</html>
