.company-testable-result-window {
    width: 400px;
    height: auto;
    margin: 0px;
    z-index: 999999;
    /*top:0px;
    right:0px;具体负的值根据为*/
    /*-webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;*/
}
.company-testable-advanced-compiled{
    position: fixed;
    z-index: 99999;
    height: 20px;
    width: 23px;
    display: inline-block;
    top: 10px;
    right: 10px; /*具体负的值根据为*/
    background: url('../image/icons.jpg') -300px -368px ;
}
.company-testable-normal-compiled{
    position: fixed;
    z-index: 99999;
    height: 20px;
    width: 23px;
    display: inline-block;
    top: 10px;
    right: 10px; /*具体负的值根据为*/
}
.company-testable-result-title {
    padding: 5px;
    font-weight: bold;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.company-testable-outline-table-header {
    font-family: sans-serif;
    text-align: left;
}

/*悬浮窗口内容DIV squ-sidec*/
.company-testable-result-content {
    /*border: 2px solid #ccc;*/
    /*box-shadow:0px 5px 5px #565656;
    -webkit-box-shadow:0px 5px 5px #565656;
    -moz-box-shadow:0px 5px 5px #565656;
    -o-box-shadow:0px 5px 5px #565656;*/
}

/*悬浮窗口出发移动渐显的按钮DIV squ-sideb*/
.view_detail_button {
    color: #00ff00;
    height: auto;
    border: 2px solid #ccc;
    box-shadow: 0px 5px 5px #565656;
    -webkit-box-shadow: 0px 5px 5px #565656;
    -moz-box-shadow: 0px 5px 5px #565656;
    -o-box-shadow: 0px 5px 5px #565656;
}

.company-testable-outline-table {
    padding: 1px 5px 1px 5px;
}

.company-testable-result_mark {
    color: #ff0000
}

.company-testable-result_error {
    color: #ff0000;
}

.company-testable-result_waiting {
    text-align: center;
}

.company-testable-result_invalid {
    height: 26.5px;
    width: 23px;
    display: inline-block;
    background: url('../image/icons.jpg') -20px -265px;
}

.company-testable-result_valid {
    height: 26.5px;
    width: 23px;
    display: inline-block;
    background: url('../image/icons.jpg') -40px -265px;
}

.view_detail_button_wrapper {
    text-align: center;
    vertical-align: middle;
}

.company-testable-outline-table-seperator {
    background-color: #0f0f0f;
    color: #ff0000;
    text-align: center
}

.performance-item-container {
    padding: 1px 5px;
    border-radius: 5px;
    color: white
}

.performance-item-title {
    width: 100%;
    display: inline-block;
}

.performance-item-container .performance-item-title {
    background: #000000;
}

.performance-item-container .performance-item-content {
    background: #A0A0A0;
}

.performance-item-container.success .performance-item-title {
    background: rgb(140, 199, 140);
}

.performance-item-container.success .performance-item-content {
    background: lightgreen
}

.performance-item-container.fail .performance-item-title {
    background: lightcoral;
}

.performance-item-container.fail .performance-item-content {
    background: #FFCACA
}

.performance-item-label {
    width: 35%;
    display: inline-block;
    margin-left: 5px;
}

.performance-item-ref{
    float:right;
    margin-top: 15px;
    margin-right: 10px;
}

.performance-item-content label {
    margin-left: 5px
}

.performance-item-criteria {
    width: 49%;
    display: inline-block
}

.performance-item-content {

}

.performance-item-actual {
    margin-left: 5px;
    width: 60%;
    display: inline-block
}

.performance-item-actual span {
    font-size: 3em;
}

.performance-item-actual > label {
    font-size: 2em;
}

.breakdown-content {
    padding: 2px 4px;
    margin: 2px;
}

.success .breakdown-content {
    background: darkgreen;
}

.fail .breakdown-content {
    background: darkred;
}

.breakdown-actual, .breakdown-title {
    display: inline-block;
    width: 30%;
}

.separate-line {
    width: 100%;
    height: 1px;
    border-bottom: dashed 1px #cccccc;
    margin-bottom: 3px;
}

input.cmn-toggle-round + label {
    display: inline-block;
    width: 80px;
    height: 40px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
    display: inline-block;
    position: relative;
    width: 80px;
    left: 1px;
    bottom: 1px;
    height: 40px;
    content: "";
}
input.cmn-toggle-round + label:before {
    right: 1px;
    background-color: #f1f1f1;
    border-radius: 60px;
    transition: background 0.4s;
    position: inherit;
    left: 1px;
    bottom: 1px;

}
input.cmn-toggle-round + label:after {
    width: 40px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: margin 0.4s;
    bottom: 44px;
    left: -20px;
}
input.cmn-toggle-round:checked + label:before {
    background-color: #8ce196;
}
input.cmn-toggle-round:checked + label:after {
    margin-left: 60px;
}

.performance-item-ref a{
    display: none;
}

.performance-item-ref a:hover{
    display: none;
}

span.monitor_circle_icon {
    display: none;
}


.performance-item-container.fail .performance-item-ref a{
    text-decoration: none;
    color: black;
    display: block;
}

.performance-item-container.fail .performance-item-ref a:hover{
    text-decoration: none;
    color: white;
    display: block;
}

.performance-item-container.fail span.monitor_circle_icon {
    padding: 2px 7px 3px;
    background: whitesmoke;
    color: black;
    border-radius: 100%;
    margin-right: 5px;
    display: inline-block;
}

.performance-item-actual .unit, .breakdown-actual .unit{
    float:right;

}
