.fxitem{
    background-color: #565656;
}
.fxname{
    background-color: #1c94c4;
}
.fxbody{
    width:300px
}
.fxseperator{
    width:300px;
    height:2px;
    background-color: black;
}
.fxtitle{
    border-bottom-color: darkslategray;
    border-bottom: 10px;
    background-color: darkgray;
}
